a,
button {
  pointer-events: all;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
}

p {
  line-height: 1.4;
}

i {
  color: grey;
  font-size: 22px;
}

i:hover {
  color: aquamarine;
}

small {
  font-size: 1.2rem;
}

.body-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.container .developer-section {
	color: white;
	flex: 2;
	padding-left: 10%;
	line-height: 1.5;
  }
  .developer-section .introduction h1 span {
	font-size: 6.4rem;
  }
  .container .developer-section .introduction h1 {
	font-size: 3.2rem;
	word-spacing: 10px;
	letter-spacing: 10px;
  }
  .container .developer-section .introduction p {
	word-spacing: 3px;
	letter-spacing: 3px;
  }
  
  .container .developer-section .contact-me {
	border: 1px solid white;
	color: white;
	padding: 10px;
	margin-top: 40px;
	background: transparent;
	width: 50%;
  }
  
  .container .packagejson-section {
	color: white;
	margin-left: 15%;
	padding-right: 32px;
	flex: 2;
	display: flex;
	flex-direction: row;
	font-size: 12px;
	line-height: 1.5;
	word-spacing: 0%;
	letter-spacing: 0%;
  }
  
  .container .packagejson-section .parent {
	  color: aquamarine;
	  padding-left: 20px;
  }
  .container .packagejson-section .closing-braces {
	  color: white;
	  padding: 20px;
  }
  
  .container .packagejson-section .parent-children {
	  color: aquamarine;
	  padding: 30px;
  }
  
  .container .packagejson-section .children {
	  color: #6295fb;
	  padding: 30px;
  }
  
  .container .packagejson-section .parent-children .colon{
	  padding: 0;
  }
  